:root {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;

  color: rgb(255, 255, 255);
  background-color: #202020;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.main-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-inline: 11rem;
}

.main-page .buttons {
  display: flex;
  gap: 1rem;
}

.main-page .movie-list {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.button {
  padding-inline: 1rem;
  font-size: 14px;
  line-height: 2.25rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.button--accent {
  background-color: #ff9800;
  border-radius: 8rem;
  color: #202020;
}

.button--border-full {
  padding-inline: 1rem;
  font-size: 14px;
  line-height: 2.25rem;
  text-transform: uppercase;
  cursor: pointer;
background-color: #fff;
  border-radius: 8rem;
  color: #202020;
}

.button--border-unfull {
  padding-inline: 1rem;
  font-size: 14px;
  line-height: 2.25rem;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 8rem;
  color: #fff;
}

.buttons-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15rem;
  padding-block: 1rem;
}

.movie-card{
  display: flex;
  gap: 1.5rem
}

.movie-card .info {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.movie-card .info .rating {
display: flex;
gap: 0.5rem
}

.movie-card .info .buttons {
  display: flex;
  gap: 0.75rem
}

.genres-div{
  display: flex;
  gap: 0.5rem
}

.genre {
  display: flex;
  width: fit-content;
  height: fit-content;
  padding-inline: 0.5rem;
  padding-block: 0.1rem;
  color: #BDBDBD;
  font-size: 12px;
  line-height: 1.25rem;
  border: 1px solid #BDBDBD;
  border-radius: 10rem;
}

.star-rating {
  display: flex;
  flex-direction: row;
}

.text-description{
  display: flex;
  color: #BDBDBD;
  font-size: 1rem;
  font-weight: 400;
}