:root {
  font-weight: 600;
  font-family: 'Roboto', sans-serif;

  color: rgb(255, 255, 255);
  background-color: #202020;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
textarea,
select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.button {
  padding-inline: 1rem;
  font-size: 14px;
  line-height: 2.25rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.button--accent {
  background-color: #ff9800;
  border-radius: 8rem;
  color: #202020;
}

.buttons-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 15rem;
  padding-block: 1rem;
}